body {
    background: #f7f7f7; /* background = background-color */
}



/*  
    # -> id ( Pode ser usado apenas uma vez )
    . -> class 
*/
#title,
.subtitle,
.post_title {
    color: darkblue;
    margin: 0;
}

#profile{
    border-radius: 50%;
    border: greenyellow 3px solid;
}

.subtitle {
    font-size: "16";
    font-style: italic;
}

.post {
    background: #fff;

    padding: 10px 5px 10px 25px; /*  Ordem do padding: sentido horário (top right botton left) */

    border: 3px solid #ccc; /* Equivalentes: border-width border-style border-color */
    border-top: greenyellow 3px dotted; /* Ordem dos parametros é irrelevante*/
    border-bottom: dashed 3px greenyellow;
    border-radius: 10px 20% 5% 20px; /* Mesclando Unidades */

    margin-bottom: 15px;
}

.post_title {
    font-size: 16px;
    font-style: italic;

    margin: 0;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

.post_image{
    margin-bottom: 15px;
}